<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1 class="card-title d-flex justify-content-between">
  <span>Projects</span>
  <%= link_to "New project", new_project_path , class: "btn btn-primary"%>
</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
